<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="/layout/head :: head"></div>
</head>
<body>

<div th:include="/layout/navbar :: navbar"></div>


<div class="container" style="margin-top: 50px;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            异常详情
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td width="250">应用编号:</td>
                    <td><span th:text="${errorLog.appId}"></span></td>
                </tr>

                <tr>
                    <td>报错时间</td>
                    <td><span th:text="${errorLog.addTime}"></span></td>
                </tr>
                <tr>
                    <td>报错Url</td>
                    <td><span th:text="${errorLog.reqUrl}"></span></td>
                </tr>
                <tr>
                    <td>Form请求</td>
                    <td>
                        <span th:text="${errorLog.reqForm}"></span>
                    </td>
                </tr>
                <tr>
                    <td>报错请求头信息</td>
                    <td><span th:text="${errorLog.header}"></span></td>
                </tr>

                <tr>
                    <td>报错服务器Ip</td>
                    <td><span th:text="${errorLog.machineIp}"></span></td>
                </tr>

                <tr>
                    <td>报错级别</td>
                    <td><span th:text="${errorLevel.getMessage()}"></span></td>
                </tr>
                <tr>
                    <td>报错方法名</td>
                    <td><span th:text="${errorLog.methodName}"></span></td>
                </tr>
                <tr>
                    <td>报错方法命名空间</td>
                    <td><span th:text="${errorLog.assemblyName}"></span></td>
                </tr>
                <tr>
                    <td>报错异常类型</td>
                    <td><span th:text="${errorLog.exceptionName}"></span></td>
                </tr>
                <tr>
                    <td>报错标题</td>
                    <td><span th:text="${errorLog.title}"></span></td>
                </tr>

                <tr>
                    <td>报错信息</td>
                    <td><span th:text="${errorLog.message}"></span></td>
                </tr>

                <tr>
                    <td>报错堆栈信息</td>
                    <td>
                        <div style="color:#F00" th:text="${errorLog.stackTrace}"></div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


<div th:include="/layout/footer :: footer"></div>
</body>
</html>



