<!-- START BREADCRUMB -->
<ul class="breadcrumb" xmlns:th="http://www.w3.org/1999/xhtml">
    <li><a href="/home">首页</a></li>
    <li>异常查询</li>
    <li class="active">异常列表</li>
</ul>
<!-- END BREADCRUMB -->

<div class="page-content-wrap" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">异常列表</h3>
                </div>
                <div class="panel-body panel-body-search">
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-search"></span>
                                </div>
                                <input id="appId" name="appId" type="text" class="form-control" placeholder="应用编号"
                                       th:value="${appId}"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" onclick="search();">查询</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="50">报错标题</th>
                                <th width="100">报错信息</th>
                                <th width="100">报错时间</th>
                                <th width="150">错误级别</th>
                                <th width="100">错误类型</th>
                                <th width="100">机器Ip</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="config:${list}" th:id="${config.id}">
                                <td>
                                    <a th:href="|javascript:showDetail('${config.appId}');|"
                                       th:text="${config.appId}"></a>
                                </td>

                                <td th:text="${config.emailTo}"></td>
                                <td th:text="${config.phoneNumber}"></td>
                                <td th:text="${#dates.format(config.lastUpdateDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->

</div>
<!--paging begion-->
<div style="float:right " xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="pagination" id="pagination"></ul>
    <input type="hidden" id="totalRecords" th:value="${totalRecords}"/>
    <input type="hidden" id="pageSize" th:value="${pageSize}"/>
    <input type="hidden" id="pageIndex" th:value="${pageIndex}"/>
    <!--设置最多显示的页码数 可以手动设置 默认为7-->
    <input type="hidden" id="visiblePages" value="7"/>
</div>
<script language="javascript" type="application/javascript" xmlns:th="http://www.w3.org/1999/xhtml"
        th:inline="javascript">

    function showPaging() {
        var totalRecords = parseInt($("#totalRecords").val().trim());
        var pageSize = parseInt($("#pageSize").val().trim());
        var pageIndex = parseInt($("#pageIndex").val().trim());
        var totalPages = 1;
        if (totalRecords > 0)
            totalPages = parseInt(totalRecords % pageSize > 0 ? totalRecords / pageSize + 1 : totalRecords / pageSize);
        var visiblePages = parseInt($("#visiblePages").val().trim());
        var appId = $("#appId").val().trim();
        $.jqPaginator('#pagination', {
            totalPages: totalPages,
            visiblePages: visiblePages,
            currentPage: pageIndex,
            first: '<li class="first"><a href="javascript:;">首页</a></li>',
            prev: '<li class="prev"><a href="javascript:;"><i class="arrow arrow2"></i>上一页</a></li>',
            next: '<li class="next"><a href="javascript:;">下一页<i class="arrow arrow3"></i></a></li>',
            last: '<li class="last"><a href="javascript:;">末页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num, type) {
                if (type == "change") {
                    redirectPage(num, appId);
                }
            }
        });
    }
    $(function () {
        showPaging();
    });
    function redirectPage(pageIndex, appId) {
        /*<![CDATA[*/
        var url = '/exception/list?pageIndex=' + pageIndex + '&appId=' + appId;
        /*]]>*/
        loadPage(url);
    }

    function search() {
        var appId = $("#appId").val().trim();
        redirectPage(1, appId);
    }

    function showDetail(appId) {
        var url = '/exception/detail?appId=' + appId;
        loadPage(url);
        //alert(appId);
    }

    function editRecord(appId) {
        var url = '/exception/edit?appId=' + appId;
        loadPage(url);
    }

    function deleteRecord(appId) {
        bootbox.confirm({
            message: '您真的要删除这条记录吗?',
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var url = '/exception/delete';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: "appId=" + appId,
                        success: function (result) {
                            eval(result.script);
                        }
                    });
                }
            }
        });


    }
</script>
<!--pagin end-->