<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/home">首页</a></li>
    <li>配置管理</li>
    <li class="active">新增配置</li>
</ul>
<!-- END BREADCRUMB -->

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form id="configCreate" class="form-horizontal" action="/config/create" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>新增配置</strong></h3>
                        <ul class="panel-controls">
                            <li></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">AppId</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" id="appId" name="appId"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">邮件</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" id="emails" name="emails"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">短信</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" id="mobiles" name="mobiles"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">错误邮件设置</label>
                            <div class="col-md-6 col-xs-12">
                                <table>
                                    <tr>
                                        <td>
                                            <input id="sendEmailTimeInterval"
                                                   name="sendEmailTimeInterval" type="text" class="form-control"
                                                   value="0"/>
                                        </td>
                                        <td>
                                            分钟出现
                                        </td>
                                        <td>
                                            <input id="sendEmailNumLimit"
                                                   name="sendEmailNumLimit" type="text" class="form-control" value="0"/>
                                        </td>
                                        <td>
                                            次普通错误/严重错误，则发邮件。如想取默认值，则上边信息默认为0。
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">错误短信设置</label>
                            <div class="col-md-6 col-xs-12">
                                <table>
                                    <tr>
                                        <td>
                                            <input id="sendSmsTimeInterval" name="sendSmsTimeInterval" type="text"
                                                   class="form-control" value="0"/>
                                        </td>
                                        <td>
                                            分钟出现
                                        </td>
                                        <td>
                                            <input id="sendSmsNumLimit" name="sendSmsNumLimit" type="text"
                                                   class="form-control" value="0"/>
                                        </td>
                                        <td>
                                            次普通错误/严重错误，则发邮件。如想取默认值，则上边信息默认为0。
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="reset">重置</button>
                        <button class="btn btn-primary pull-right" type="submit">
                            提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script language="JavaScript" type="application/javascript">
    $(document).ready(function () {
        $('#configCreate').ajaxForm(function (result) {
            eval(result.script);
        });
    });
</script>


